body{
    background: #DDD;
}

.form_body{
    background-color: white;
    border-radius: 10px;
    width: 500px;
    margin: 10px auto;
    padding: 10px 20px;
}

.form_header{
    position:relative;
    font-size: 22pt;
    margin-bottom: 12px;
    color: orange;
}

label
{
    color: gray;
    font-size: 10pt;
    position:relative;
    bottom:-12px;
}

input{
    font-size: 14pt;
    width: 100%;
    padding: 4px 18px;
    margin-top: 18px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.invalid_input{
  border-color: #900;
  background-color: #FDD;
}

#firstNameWarning,
#lastNameWarning,
#npiNumberWarning,
#businessAddressWarning,
#phoneNumberWarning,
#emailWarning
{
    color: red;
    font-size: 8pt;
    position: relative;
    float: right;
}

button{
    width: 100%;
    background-color: orange;
    color: black;
    margin-top: 30px;
    margin-bottom: 12px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14pt;
}

button:hover{
    background-color: black;
    color: orange;
}
